[Desktop Entry]
Encoding=UTF-8
Name=Vizeh
Comment=Vizeh P2P Cryptocurrency
Comment[fr]=Vizeh, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Vizeh, eşten eşe kriptografik sanal para birimi
Exec=Vizeh-qt %u
Terminal=false
Type=Application
Icon=vizee128
MimeType=x-scheme-handler/Vizeh;
Categories=Office;Finance;
